<p id="notice"><%= notice %></p>

<h1>Accounttypes</h1>

<table>
  <thead>
    <tr>
      <th>Tipo conta</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @accounttypes.each do |accounttype| %>
      <tr>
        <td><%= accounttype.tipo_conta %></td>
        <td><%= link_to 'Ver', accounttype %></td>
        <td><%= link_to 'Editar', edit_accounttype_path(accounttype) %></td>
        <td><%= link_to 'Deletar', accounttype, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Tipo de Conta', new_accounttype_path %>
<br>
<%= link_to 'Contas', accounts_path %>
