<p id="notice"><%= notice %></p>

<p>
  <strong>Nome livro:</strong>
  <%= @book.nome_livro %>
</p>

<p>
  <strong>Status:</strong>
  <%= @book.status %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
