<%= form_with(model: expense, local: true) do |form| %>
  <% if expense.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(expense.errors.count, "error") %> prohibited this expense from being saved:</h2>

      <ul>
        <% expense.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome %>
  </div>

  <div class="field">
    <%= form.label :quantidade %>
    <%= form.text_field :quantidade %>
  </div>

  <div class="field">
    <%= form.label :data %>
    <%= form.date_select :data %>
  </div>

  <div class="field">
    <%= form.label :comentario %>
    <%= form.text_field :comentario %>
  </div>

  <div class="field">
    <%= form.label :Conta %>
    <%= form.collection_select(:expensetype_id,Expensetype.all,:id,:tipo_receita,include_blank: false) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
