<p id="notice"><%= notice %></p>

<h1>Receitas</h1>

<div>
<%= form_tag(expenses_path, :method => :get) do %>

   <%= date_field_tag 'data_inicio', nil, placeholder: "Data inicial" %>
   <%= date_field_tag 'data_final', nil, placeholder: "Data inicial" %>
   <%= submit_tag  "Pesquisa"%>
<% end %>


</div>


<table>
  <thead>
    <tr>
      <th>Quantidade</th>
      <th>Data</th>
      <th>Comentario</th>
      <th>Tipo de Receita</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @expenses.each do |expense| %>
      <tr>
        <td><%= expense.quantidade %></td>
        <td><%= expense.data %></td>
        <td><%= expense.comentario %></td>
        <td><%= Expensetype.find(expense.expensetype_id) %></td>
        <td><%= link_to 'Ver', expense %></td>
        <td><%= link_to 'Editar', edit_expense_path(expense) %></td>
        <td><%= link_to 'Deletar', expense, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<div>
<% if @total_receitas_mes == 0 %>

<% elsif @total_receitas_mes > 0 %>
<p><%= @total_receitas_mes %> reais</p>

<% end %>
</div>
<br>

<%= link_to 'Nova Receita', new_expense_path %>
<br>
<%= link_to 'Tipos de Receita', expensetypes_path %>
<br>
<%= link_to 'Contas', accounts_path %>
