<p id="notice"><%= notice %></p>

<h1>Expenses</h1>

<table>
  <thead>
    <tr>
      <th>Quantidade</th>
      <th>Data</th>
      <th>Comentario</th>
      <th>Tipo de Receita</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @expenses.each do |expense| %>
      <tr>
        <td><%= expense.quantidade %></td>
        <td><%= expense.data %></td>
        <td><%= expense.comentario %></td>
        <td><%= Expensetype.find(expense.expensetype_id) %></td>
        <td><%= link_to 'Ver', expense %></td>
        <td><%= link_to 'Editar', edit_expense_path(expense) %></td>
        <td><%= link_to 'Deletar', expense, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova Receita', new_expense_path %>
<br>
<%= link_to 'Tipos de Receita', expensetypes_path %>
