<%= form_with(model: account, local: true) do |form| %>
  <% if account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(account.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
        <% account.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Quantidade %>
    <%= form.text_field :qtd %>
  </div>

  <div class="field">
    <%= form.label :Data_conta %>
    <%= form.date_select :data_conta %>
  </div>

  <div class="field">
    <%= form.label :Comentario %>
    <%= form.text_field :comentario %>
  </div>

  <div class="field">
    <%= form.label :Conta %>
    <%= form.collection_select(:accounttype_id,Accounttype.all,:id,:tipo_conta,include_blank: true) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
