<p id="notice"><%= notice %></p>

<h1>Accounts</h1>

<table>
  <thead>
    <tr>
      <th>Qtd</th>
      <th>Data conta</th>
      <th>Comentario</th>
      <th>Usuário</th>
      <th>Tipo de Conta</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @accounts.each do |account| %>
      <tr>
        <td><%= account.qtd %></td>
        <td><%= account.data_conta %></td>
        <td><%= account.comentario %></td>
        <td><%= current_user.email %></td>
        <td><%= Accounttype.find(account.accounttype_id) %></td>
        <td><%= link_to 'Show', account %></td>
        <td><%= link_to 'Edit', edit_account_path(account) %></td>
        <td><%= link_to 'Destroy', account, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova Conta', new_account_path %>
<br>
<%= link_to 'Tipos de Conta', accounttypes_path %>
