<p id="notice"><%= notice %></p>

<h1>Accounts</h1>

<div>
<%= form_tag(accounts_path, :method => :get) do %>

   <%= date_field_tag 'data_inicio', nil, placeholder: "Data inicial" %>
   <%= date_field_tag 'data_final', nil, placeholder: "Data inicial" %>
   <%= submit_tag  "Pesquisa"%>
<% end %>


</div>



<table>
  <thead>
    <tr>
      <th>Qtd</th>
      <th>Data conta</th>
      <th>Comentario</th>
      <th>Usuário</th>
      <th>Tipo de Conta</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @accounts.each do |account| %>
      <tr>
        <td><%= account.qtd %></td>
        <td><%= account.data_conta %></td>
        <td><%= account.comentario %></td>
        <td><%= current_user.email %></td>
        <td><%= Accounttype.find(account.accounttype_id) %></td>
        <td><%= link_to 'Ver', account %></td>
        <td><%= link_to 'Editar', edit_account_path(account) %></td>
        <td><%= link_to 'Deletar', account, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova Conta', new_account_path %>
<br>
<%= link_to 'Tipos de Conta', accounttypes_path %>
<br>
<%= link_to 'Receitas', expenses_path %>
