<p id="notice"><%= notice %></p>

<h1>Tipos de Receita</h1>

<table>
  <thead>
    <tr>
      <th>Tipo receita</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @expensetypes.each do |expensetype| %>
      <tr>
        <td><%= expensetype.tipo_receita %></td>
        <td><%= link_to 'Ver', expensetype %></td>
        <td><%= link_to 'Editar', edit_expensetype_path(expensetype) %></td>
        <td><%= link_to 'Deletar', expensetype, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Cadastrar Nova Receita', new_expensetype_path %>
